body:{
	font-family: American Typewriter;
	background-color: ; }

h1 { 
	color: black; 
	font-family: American Typewriter; 
	font-size: 32pt;}

h2 { 
	color: black; 
	font-family: American Typewriter; 
	font-size: 32pt;}

	#ol{ 
	color: black; 
	font-family: American Typewriter; 
	font-size: 16pt;}
	 	}
